div.app{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    width: 90%;
    background-color: #eee;
    color: 222;
}
header{
    flex-basis: 30vh;
    background-color: #000;
}
main{
    display: flex;
    padding: 30px 10px ;
    background-color: #ddd;
    flex-grow: 1;
}

aside{
min-width: 240px;
/* background-color: #999; */
}

section.page{
    /* background-color: royalblue; */
    flex-grow: 1;
}


footer{
    background-color: #000;
    color: white;
    text-align: center;
    text-transform: uppercase;
}